<!DOCTYPE html>
<html data-ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <script src="angular/assets/js/angular1.6.9.min.js"></script>
    <script src="angular/ngjs/country.js"></script>
    <link   href="angular/assets/css/bootstrap.min.css" rel="stylesheet"> 
    <script src="angular/assets/js/jquery.min.js"></script> 
    <script src="angular/assets/js/bootstrap.min.js"></script>
    <!--https://spring.io/guides/gs/consuming-rest-angularjs/
    https://appdividend.com/2017/06/14/integrate-admin-template-in-angular-4-application/-->
   
</head>
<body> 
    <div  ng-app="Country" ng-controller="CountryController">
        <div class="container"> 
		  <table class="table col-md-6">
		    <thead>
		      <tr>
		        <th>id</th>
		        <th>Name</th>
		        <th>Code</th>
		        <th>Population</th>
		        <th>Action</th>
		        <th>{{delmsg.status}}</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="ctr in posts.data">
		        <td>{{ctr.id}}</td>
		        <td>{{ctr.name}}</td>
		        <td>{{ctr.code}}</td>
		        <td>{{ctr.population}}</td>
		        <td><a ng-click="editEvent(ctr.id)" class="btn btn-xs btn-success">Edit</a>
		            <a ng-click="deleteEvent(ctr.id)" class="btn btn-xs btn-danger">Del</a> </td>
		      </tr>
		    </tbody>
		  </table>
		</div>

    </div>


</body>
</html>